<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

/* stylesheet for your custom graph */

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.active {
  fill: rgb(255,127,80);
}

.states-choropleth-container {
  fill: #ccc;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

#school-tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}


.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.option-select {
  margin-top: 20px;
  margin-left: 40px;
  fill: #64b646;
  width: auto;
}

</style>

<div id="selectors"></div>

<div id="tooltip-container"></div>
<div id="school-tooltip-container"></div>

<div id="canvas-svg"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>

d3.csv("https://gist.githubusercontent.com/dnprock/5215cc464cfb9affd283/raw/61bd2efeb92db5de5dedc1ee31f4d81137301400/population.csv", function(err, data) {

  var config = {
    "color1":"#ffd3e5","color2":"#6b0830", // color boundary
    "defaultValue":"census_population_april_1_2010_number", // default selector
    "state":"state_or_territory" // state names column
  };
  
  var WIDTH = 960, HEIGHT = 500;

  var COLOR_COUNTS = 9;
  
  var SCALE = 1;

  var centered; // centered/focused state
  
  // distributes the colors evenly between config.color1 and config.color2
  function Interpolate(start, end, steps, count) {
      var s = start,
          e = end,
          final = s + (((e - s) / steps) * count);
      return Math.floor(final);
  }

  function Color(_r, _g, _b) {
      var r, g, b;
      var setColors = function(_r, _g, _b) {
          r = _r;
          g = _g;
          b = _b;
      };
  
      setColors(_r, _g, _b);
      this.getColors = function() {
          var colors = {
              r: r,
              g: g,
              b: b
          };
          return colors;
      };

      this.getRGB = function(){
        return "rgb(" + r + "," + g +
                  "," + b + ")";
      }
  }
  
  function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16)
      } : null;
  }
  
  // Displays the values as 1M, 4K etc
  function valueFormat(d) {
    if (d > 1000000000) {
      return Math.round(d / 1000000000 * 10) / 10 + "B";
    } else if (d > 1000000) {
      return Math.round(d / 1000000 * 10) / 10 + "M";
    } else if (d > 1000) {
      return Math.round(d / 1000 * 10) / 10 + "K";
    } else {
      return d;
    }
  }
  
  var fields = Object.keys(data[0]);
  var option_select = d3.select('#selectors').append("select")
      .attr("class", "option-select");
  for (var i = 0; i < fields.length; i++) {
    if (fields[i] !== config.state) {
      var opt = option_select.append("option")
        .attr("value", fields[i])
        .text(fields[i]);
      
      if (fields[i] === config.defaultValue) {
        opt.attr("selected", "true");
      }
    }
  }
  
  var COLOR_FIRST = config.color1, COLOR_LAST = config.color2;
  
  var rgb = hexToRgb(COLOR_FIRST);
  
  var COLOR_START = new Color(rgb.r, rgb.g, rgb.b);
  
  rgb = hexToRgb(COLOR_LAST);
  var COLOR_END = new Color(rgb.r, rgb.g, rgb.b);
  
  var width = WIDTH,
      height = HEIGHT;
  
  var startColors = COLOR_START.getColors(),
      endColors = COLOR_END.getColors();
  
  var colors = [];
  
  for (var i = 0; i < COLOR_COUNTS; i++) {
    var r = Interpolate(startColors.r, endColors.r, COLOR_COUNTS, i);
    var g = Interpolate(startColors.g, endColors.g, COLOR_COUNTS, i);
    var b = Interpolate(startColors.b, endColors.b, COLOR_COUNTS, i);
    colors.push(new Color(r, g, b));
  }
  
  var quantize = d3.scale.quantize()
      .domain([0, 1.0])
      .range(d3.range(COLOR_COUNTS).map(function(i) { return i }));

  // D3 Projection
  var projection = d3.geo.albersUsa()
             .translate([width/2, height/2])    // translate to center of screen
             // .scale([1000]);          // scale things down so see entire US
          
  // Define path generator
  var path = d3.geo.path()               // path generator that will convert GeoJSON to SVG paths
           .projection(projection);  // tell path generator to use albersUsa projection
  
  var path = d3.geo.path();
  
  var svg = d3.select("#canvas-svg").append("svg")
      .attr("width", width)
      .attr("height", height);

  var g = svg.append("g");
  
  d3.tsv("https://s3-us-west-2.amazonaws.com/vida-public/geo/us-state-names.tsv", function(error, names) {
  d3.json("https://s3-us-west-2.amazonaws.com/vida-public/geo/us.json", function(error, us) {
    
    var name_id_map = {};
    var id_name_map = {};
    
    for (var i = 0; i < names.length; i++) {
      name_id_map[names[i].name] = names[i].id;
      id_name_map[names[i].id] = names[i].name;
    }
    
    var dataMap = {};
    
    data.forEach(function(d) {
      if (!dataMap[d[config.state]]) {
        dataMap[d[config.state]] = {};
      }
      
      for (var i = 0; i < Object.keys(data[0]).length; i++) {
        if (Object.keys(data[0])[i] !== config.state) {
          dataMap[d[config.state]][Object.keys(data[0])[i]] =
            +d[Object.keys(data[0])[i]];
        }
      }
    });

    // handles focusing on a state on click
    function clicked(d) {
      var x, y, // translation by (-x,-y)
        scaleTransformation;

      if (d && centered !== d) {
        var centroid = path.centroid(d);
        // console.log(centroid)

        // centroid shifts by a factor of SCALE
        x = centroid[0] * SCALE;
        y = centroid[1] * SCALE;

        // hiding the legend so that it does not overlap the map
        if (x < 710){
          $(".legend").hide();
        }

        addSchools(d);

        scaleTransformation = 3; 

        centered = d;
      } else {
        x = WIDTH / 2;
        y = HEIGHT / 2;

        scaleTransformation = 1; // go back to full screen

        g.selectAll("circle").remove();

        centered = null;
      }

      g.selectAll("path")
          .classed("active", centered && function(d) { return d === centered; });

      g.transition()
          .duration(750)
          .attr("transform", "translate(" + WIDTH / 2 + "," + HEIGHT / 2 + ")scale(" + scaleTransformation + ")translate(" + -x + "," + -y + ")")
          .style("stroke-width", 1.5 / scaleTransformation + "px")
          .each("end", function(){ 
            if (centered === null || centered !== null && x > 710) {
              // if no centering is done or centering doesn't make legend overlap
              $(".legend").show()
            }
          });
    }

    function addSchools(state){

      var stateName;
      for (var key in names){
        if (names[key].id == state.id){
          stateName = names[key].name;
        }
      }

      if (stateName === undefined){
        return;
      }

      // // example csv call
      // d3.csv('/static/bios.csv', function (error, data){
      //   console.log(data);
      // })

      d3.csv("static/geohead.csv", function(data) {
      g.selectAll("circle")
        .data(data)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
          if (projection([d.lng, d.lat]) == null){
            return 0;
          }
          console.log(projection([d.lng, d.lat])[0])
          return projection([d.lng, d.lat])[0];
        })
        .attr("cy", function(d) {
          if (projection([d.lng, d.lat]) == null){
            return 0;
          }
          return projection([d.lng, d.lat])[1];
        })
        .attr("r", function(d) {
          return 1;
          // return Math.sqrt(d.years) * 4;
        })
          .style("fill", "rgb(217,91,67)")  
          .style("opacity", 0.85) 

        // Modification of custom tooltip code provided by Malcolm Maclean, "D3 Tips and Tricks" 
        // http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html
        .on("mousemove", function(d) {
            var html = "";
  
            html += "<div class=\"tooltip_kv\">";
            html += "<span class=\"tooltip_key\">";
            html += d.cleaned_Addresses;
            html += "</span>";
            html += "</div>";
            for (var i = 1; i < Object.keys(data[0]).length; i++) {
              html += "<div class=\"tooltip_kv\">";
              html += "<span class='tooltip_key'>";
              html += Object.keys(data[0])[i];
              html += "</span>";
              html += "<span class=\"tooltip_value\">";
              html += d[Object.keys(data[0])[i]];
              html += "</span>";
              html += "</div>";
            }
            
            $("#school-tooltip-container").html(html);
            $(this).attr("fill-opacity", "0.7");
            $("#school-tooltip-container").show();
            
            var coordinates = d3.mouse(this);
            
            var map_width = $('.states-choropleth-container')[0].getBoundingClientRect().width;
            
            if (d3.event.layerX < map_width / 2) {
              d3.select("#school-tooltip-container")
                .style("top", (d3.event.layerY + 15) + "px")
                .style("left", (d3.event.layerX + 15) + "px");
            } else {
              var tooltip_width = $("#school-tooltip-container").width();
              d3.select("#school-tooltip-container")
                .style("top", (d3.event.layerY + 15) + "px")
                .style("left", (d3.event.layerX - tooltip_width - 30) + "px");
            }
          })
          .on("mouseout", function() {
              $(this).attr("fill-opacity", "1.0");
              $("#school-tooltip-container").hide();
          })
      }); 
    }
    
    // constructs the d3.map object
    function drawMap(dataColumn) {
      var valueById = d3.map();
      
      data.forEach(function(d) {
        var id = name_id_map[d[config.state]];
        valueById.set(id, +d[dataColumn]); 
      });
      
      quantize.domain([d3.min(data, function(d){ return +d[dataColumn] }),
        d3.max(data, function(d){ return +d[dataColumn] })]);
      
      // console.log(topojson.feature(us, us.objects.states).features);

      g.append("g").attr("class", "states-choropleth-container")
        .selectAll("path")
          .data(topojson.feature(us, us.objects.states).features)
        .enter().append("path")
          .attr("transform", "scale(" + SCALE + ")")
          .style("fill", function(d) {
            if (valueById.get(d.id)) {
              var i = quantize(valueById.get(d.id));
              var color = colors[i].getColors();
              return "rgb(" + color.r + "," + color.g +
                  "," + color.b + ")";
            } else {
              return "";
            }
          })
          .attr("d", path)
          // tooltip
          .on("mousemove", function(d) {
              var html = "";
    
              html += "<div class=\"tooltip_kv\">";
              html += "<span class=\"tooltip_key\">";
              html += id_name_map[d.id];
              html += "</span>";
              html += "</div>";
              
              for (var i = 1; i < Object.keys(data[0]).length; i++) {
                html += "<div class=\"tooltip_kv\">";
                html += "<span class='tooltip_key'>";
                html += Object.keys(data[0])[i];
                html += "</span>";
                html += "<span class=\"tooltip_value\">";
                html += valueFormat(dataMap[id_name_map[d.id]][Object.keys(data[0])[i]]);
                html += "";
                html += "</span>";
                html += "</div>";
              }
              
              $("#tooltip-container").html(html);
              $(this).attr("fill-opacity", "0.7");
              $("#tooltip-container").show();
              
              var coordinates = d3.mouse(this);
              
              var map_width = $('.states-choropleth-container')[0].getBoundingClientRect().width;
              
              if (d3.event.layerX < map_width / 2) {
                d3.select("#tooltip-container")
                  .style("top", (d3.event.layerY + 15) + "px")
                  .style("left", (d3.event.layerX + 15) + "px");
              } else {
                var tooltip_width = $("#tooltip-container").width();
                d3.select("#tooltip-container")
                  .style("top", (d3.event.layerY + 15) + "px")
                  .style("left", (d3.event.layerX - tooltip_width - 30) + "px");
              }
          })
          .on("mouseout", function() {
              $(this).attr("fill-opacity", "1.0");
              $("#tooltip-container").hide();
          })
          .on("click", clicked);
    
      g.append("path")
          .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
          .attr("class", "states")
          .attr("transform", "scale(" + SCALE + ")")
          .attr("d", path);
    }
    
    drawMap(config.defaultValue);
    
    option_select.on("change", function() {
      drawMap($("#selectors").find(".option-select").val());
    });
  
  
  });

  });

  var colorFirst_rgb = hexToRgb(config.color1);
  var colorSecond_rgb = hexToRgb(config.color2);
  
  // make the legend colors
  var MIDCOLOR1 =  new Color(
    Math.floor((colorFirst_rgb.r * 2 + colorSecond_rgb.r )/ 3),
    Math.floor((colorFirst_rgb.g * 2 + colorSecond_rgb.g )/ 3),
    Math.floor((colorFirst_rgb.b * 2 + colorSecond_rgb.b )/ 3));

  var MIDCOLOR2 =  new Color(
    Math.floor((colorFirst_rgb.r + colorSecond_rgb.r * 2)/ 3),
    Math.floor((colorFirst_rgb.g + colorSecond_rgb.g * 2)/ 3),
    Math.floor((colorFirst_rgb.b + colorSecond_rgb.b * 2)/ 3));

  var rgb = hexToRgb(COLOR_FIRST);
  var COLOR_START = new Color(rgb.r, rgb.g, rgb.b);
  
  rgb = hexToRgb(COLOR_LAST);
  var COLOR_END = new Color(rgb.r, rgb.g, rgb.b);

  var color = d3.scale.linear()
          .range([COLOR_END.getRGB(),MIDCOLOR2.getRGB(),MIDCOLOR1.getRGB(),COLOR_START.getRGB()]);

  var legendText = ["Proficient", "", "", "Not proficient"];

  color.domain([0,1,2,3]);
  
  var legend = d3.select("div").append("svg")
            .attr("class", "legend")
          .attr("width", 140)
          .attr("height", 200)
          .attr("style", "position:absolute; left:800px;top:350px;")
          .selectAll("g")
          .data(color.domain().slice())
          .enter()
          .append("g")
          .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

    legend.append("text")
        .data(legendText)
          .attr("x", 24)
          .attr("y", 9)
          .attr("dy", ".35em")
          .text(function(d) { return d; });
});

</script>